<div class="jumbotron">
    <h1>Welcome to Hunters 2</h1>
    <p class="lead">Hunters 2 is a multiplayer game with tons of fun created with signalR</p>
    <p><a href="http://www.asp.net/signalr" class="btn btn-primary btn-lg">Learn more about singalR&raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Create a hunter or pick an existing one</p>
        <p>@Html.ActionLink("Play >>","PlayerView","GameHub",null,new {@class="btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Game Api</h2>
        <p>Build your own game statistics using the game API</p>
        <p>@Html.ActionLink("Learn more >>","Index","Help",null,new {@class="btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>All weather</h2>
        <h2>Day and night experience</h2>
    </div>
</div>
